<header class="header clearfix">
    <button type="button" id="toggleMenu" class="toggle_menu">
      <i class="fa fa-bars"></i>
    </button>
    <h1>Test</h1>
</header>

<nav class="vertical_nav">
    <ul id="js-menu" class="menu">
        <li class="menu--item">
            <a [routerLink]="['']" class="menu--link" title="approvals">
                <i class="menu--icon  fa fa-fw fa-briefcase"></i>
                <span class="menu--label">Approvals-Two</span>
            </a>
        </li>
    </ul>
</nav>


<div class="wrapper">
    <section>
        <router-outlet></router-outlet>
    </section>
</div>


<!--ngbPopup - Heads up! The NgbModal service needs a container element with the ngbModalContainer directive. The ngbModalContainer directive marks the place in the DOM where modals are opened. Be sure to add <template ngbModalContainer></template> somewhere under your application root element.
-->
<template ngbModalContainer></template> 
